<link rel="stylesheet" type="text/css" href="/css/stylesSHOP.css" />

    <!-- Barra de navegacion movil -->
<nav class="navbar navbar-expand-md fixed-top navbar-movil">
  <div class="container">
    <a class="navbar-brand text-white fs-3 name-bank" href="/profile">I N O X</a>
    <button
      class="navbar-toggler "
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"><i
          class="bi bi-list iconHamb"
        ></i></span>
    </button>

    <div class="collapse  navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  ms-auto me-lg-8 py-3">

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/profile">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Descubre</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/shop">Tienda</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Contactos</a>
        </li>

        <li class="nav-item">
          <a href="/profile/ordenes" class="nav-link"><i class="user-icon fas fa-user"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/cart"><i class=" fas fa-shopping-cart"></i></a>
        </li>

        <li class="nav-item">
         
            <a href="/" class="nav-link"><i class="bi bi-box-arrow-right"></i></a>
          
        </li>
      </ul>
      <!-- <a class="btn-custom ms-lg-2 btn-login" href="vistas/login.html">Iniciar sesión</a>
          <a class="btn-custom ms-lg-2 btn-register" href="vistas/register.html">Registrarse</a> -->
    </div>
  </div>
</nav>


<!-- Estructura del NavBar del aplicativo -->
<header class="flex-container">
  <div class="flex-item contact-menu">
    <h4>
      Necesitas ayuda
    </h4>
    <p><i class="fas fa-phone"></i> LLAMA:3043112837</p>
  </div>
  <div class="flex-item principal-menu">
    <h1 class="flexPrincipalChild h1-menu"> I X O N</h1>
    <ul class="navbar-ul flexPrincipalChild">
      <li class="navbar-li"><a href="/profile">INICIO</a></li>
      <li class="navbar-li"><a href="#">NOSOTROS</a></li>
      <li class="navbar-li"><a href="/shop">TIENDA</a></li>
      <li class="navbar-li"><a href="#">CONTACTANOS</a></li>
    </ul>
  </div>
  <div class="flex-item right-menu">
    <div class="user-cart-container">
      <span class="user-icon-container">
        <a href="/profile/ordenes"><i class="user-icon fas fa-user"></i></a>
      </span>
      <a class="link__button-cart" href="/cart"><button class="button-cart">Carrito
          <i class="fas fa-shopping-cart"></i></button></a>
          <span class="logout-container">
            <a href="/"><i class="bi bi-box-arrow-right"></i></a>
          </span>
    </div>
    <form id="form-search" action="/filter/name/" method="post">
      <input type="search"  placeholder="Buscar producto" name="ProductName"/>
      <button><i class="fas fa-search"></i></button>
    </form>
  </div>
</header>



<br>
<br>
<br>
<br>
<!-- Titulo del apartado shop o Store -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 tituloShop">
      <h1 class="TituloH1">
        <b>Tienda.</b>
        Comprar productos tecnológicos con la mejor calidad y el mejor precio.</h1>
    </div>
    <div class="col-lg-4 ayuda">
      <div class="contenedor-help">
        <p><i class="bi bi-exclamation-circle-fill"></i>
          ¿Necesitas ayuda en tu compra?</p>
        <input
          type="button"
          class="btn-transparent transparent-ayuda"
          value="Contactanos"
        />
      </div>

      <div class="contenedor-pagos">
        <p><i class="bi bi-credit-card-fill"></i>
          ¡Consulta los metodos de pago!</p>
        <input
          type="button"
          class="btn-transparent transparent-ayuda"
          value="Más información."
        />
      </div>

    </div>
  </div>
</div>

<div class="container contenedor-lista-de-productos">

  <div class="row" id="productos">

    <!-- Aqui va contenida la lista de los productos de manera dinamica-->
    {{#each products}}
    <div class="product-card">
      <div class="nombreproduct">
        <h3>
            {{ProductName}}
        </h3>
      </div>
      <img src="/image/{{imagen}}" alt="{{ProductSlug}}" />
      <div class="product-info">
        <div>
          <p>
            {{ProductPrice}}
          </p>
        </div>
        <figure>
          {{!-- <form action="/addcart/" method="post"> --}}
           <a  href="/addcart/{{ProductID}}"><i class="bi bi-cart-check"></i></a>
          {{!-- </form> --}}
        </figure>
      </div>
    </div>
    {{/each}}
  </div>
  <!--row-->

</div>
<!-- contenedor -->

{{!-- <script src="utils/shop.js"></script> --}}